body{
	width: 600px;
	margin: auto;
}
h2, h2 a{
	text-align: center;
	color: #555;
}
table th{
	font-size: 14px;
	font-weight: normal;
	color: #039;
	border-bottom: 2px solid #6678B1;
	padding: 10px 8px;
	text-align: left;
}
table.info{
	font-family: Arial;
	color: #7280A5;
	width: 100%;
	font-size: 12px;
	border-collapse: collapse;
}
table.info a{
	color: #7280A5;
}
table.info tr td{
	width: 33.333%;
	text-align: center;
}
table.info tr:last-child{
	border-bottom: 1px solid #8590AF;
}
table.info tr:first-child{
	border-top: 1px solid #8590AF;
}
table.data{
	width: 100%;
	border-collapse: collapse;
	background-color: #D2DFEF;
	border-radius: 10px;
}
table td{
	padding: 5px;
}
table.data tr{
	border-bottom: 1px solid #8590AF;
	cursor: pointer;
}
table.data tbody tr:hover{
	background-color: #D3DCEA
}
table.data tr:last-child
{
   border-bottom: none;
}
a{
	color: black;
}
div.lists{
}
div.selected{
	background-color: #D2DFEF;
	border-radius: 10px;
	padding: 10px;
	margin-top: 20px;
	margin-bottom: 20px;
	overflow: hidden;
}
div.chart{
	width: 193px;
	height: 200px;
	float: left;
}
a.lr-button{
	font-size: 125%;
	float: right;
	margin-left: 10px;
}
a.lr-command{
	float: right;
	display: block;
	margin-left: 15px;
}

.color-green{
	color: #69BC4D;
}
.color-gray{
	color: #A5A5A5;
}

a.logout{
	float: right;
	color: #aaaaaa;
	font-size: 75%;
}